body {
    background-color:var(--background-color);
}

.separator {
    height: 80px;
}

main {
   max-width: 98%;
   margin:0  auto;
} 

.trailer-video {
    padding-bottom: 20px;
    width: 100% ;
}

.description-movie {
    width: 82vw;
    margin: auto;
    padding-top:50px;
}

.movie-title > h2 {
    color:var(--color-text);
}

.flex-container-description {
    display:flex;
    justify-content: space-between;
    padding-top:20px;
    padding-bottom: 40px;
}

.sinopsys, .detail-movie {
    flex:1 1 50%;
    color:var(--color-text);
}

.detail-movie {
    display:flex;
    justify-content: flex-end;
}

.ul-list li> span {
    color:gray;
}

.ul-list {
    list-style: none;
}



@media only screen and (max-width:480px) {
    .flex-container-description {
        flex-direction: column;
    }
    .detail-movie {
        margin-top:20px;
    }
}