header {
    width: 100%;
    height: 200px;
}

body {
    background:url("../img/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 30%;
    height: 400px;
    padding: 10px 25px;
    margin:  auto;
    background-color:#0A100D;
    border-radius: 10px;
}

.form-login {
    height: 100%;
    width: 100%;
    margin-top:10px;
}

h1, .user, .password {
    text-align: center;
    display: block;
}

h1 {
    color:#606060;
    font-size: 2rem;
    font-weight: bold;
    margin: 30px auto;
}

.login, .user, .password {
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: lighter;
    margin-bottom: 30px;
}

.user, .password {
    background: #ecf0f1;
}

.login {
    color:white;
    cursor:pointer;
    margin-top:20px;
    background: rgb(229, 9, 20);
}

.login:hover {
    background:darkgrey;
}

/* Tablets en horizontal y escritorio normal */
@media only screen and (min-width:768px) and (max-width: 1199px) {
    .container {
        width: 40%;
    }
    body {
        background: black;
    }
}

/* Moviles horizontal o tablets en vertical */
@media only screen and (max-width:768px) {
    .container {
        width: 60%;
    }
    body {
        background: black;
    }
    header {
        height: 200px;
    }

}

/* Moviles en vertical */
@media only screen and (max-width:480px) {
    .container {
        width: 90%;
    }
    header {
        height: 90px;
    }
    body {
        background: black;
    }

    header > img {
        display:block;
        /*Centramos el logo para la versión movil */
        margin:auto; 
    }
}


