header {
    width: 100%;
    height: 200px;
}

body {
    background: black;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    /* min-width: 100vw; */
}

.container {
    position: relative;
    width: 100%;
    height: 400px;
    padding: 10px 25px;
    margin: 3vh auto;
    /* background: #1a1a1a; */
    background-color: rgba(0,0,0,.95);
    border-radius: 10px;
}

.form-login {
    height: 100%;
    width: 100%;
    margin-top:10px;
}

h1, .user, .password {
    text-align: center;
    display: block;
}

h1 {
    color:#606060;
    font-size: 2rem;
    font-weight: bold;
    margin: 30px auto;
}

.login, .user, .password {
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: lighter;
    margin-bottom: 30px;
}

.user, .password {
    background: #ecf0f1;
}

.login {
    color:white;
    cursor:pointer;
    margin-top:20px;
    background: rgb(229, 9, 20);
    transition: background 0.4s ease;
}

.login:hover {
    background:darkgrey;
}

/* Movil */
@media only screen and (min-width : 280px) {
  .container{ width: 90% }
  
}

/* Tablet */
@media only screen and (min-width : 480px) {
    .container{ width: 60% }
    
}

@media only screen and (min-width : 768px) {
    .container{ width: 40% }
} 

@media only screen and (min-width : 992px) {
    .container{ width: 30% }
    body {
        background:url(../img/background.jpg);
        background-size: cover;

    }
  } 
